---
layout: default
---

<div class="container short-bio">
  Hi! I am <strong>Akinwale Alexander &#x1F913;</strong>. A software craft person using <strong><a target="_blank" href="https://www.scala-lang.org/">Scala</a></strong> for fun and for profit. 
</div>

<div class="container">
  <div class="row">
    <div class=" container tags col-lg-8 col-lg-offset-4">
      <span class="topics">Topics:</span>
      {% for tag in site.data.tags %}
      <a href="/tags/{{ tag.name }}"> {{ tag.name | capitalize}} </a>
      {% endfor %}
    
    </div>
  </div>
</div>

  <div class="posts container">
    <!-- <h3>Recent Posts: </h3> -->
    <ul>
      {% for post in site.posts %}
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
      {% if posttime > nowunix %}
      <a href="" class="container">
      
        <li class="row">
      
          <span class="datelist datelist-pending col-lg-3">Posting in <em>
            {{ (posttime | minus: nowunix) | divided_by: 3600 }} mins
          </em> </span>
          <span class="col-lg-7 blog-title blog-title-pending">{{post.title}}</span>
          <span>{{ posttime }}</span>
          </li>
      </a>
          {% else%}
      <a href="{{ site.baseurl }}{{ post.url }}" class="container">
        
        <li class="row">     
            <span class="datelist col-lg-3">{{ post.date | date: "%B %e, %Y" }}</span>
            <span class="col-lg-7 blog-title">{{ post.title }}</span>
        </li>
      </a>
      {% endif  %}
      {% endfor %}
    </ul>
  
  </div>
