---
layout: default
---

<script>
  twttr.widgets.createTimeline(
  {
    sourceType: "list",
    ownerScreenName: "yeleywale",
    slug: "national-parks"
  },
  document.getElementById("container")
);
</script>

<div class="container short-bio">
  Hi! I am <strong>Akinwale Alexander &#x1F913; </strong>. A software engineer, an expert using languages such as <strong><a href="https://www.scala-lang.org/">Scala</a></strong>, <strong><a href="https://apache.kafka.org">Kafka</a></strong>, <strong><a href="https://akka.io">Akka-stream</a></strong>, <strong><a href="https://zio.dev">ZIO</a></strong> , etc, for the greater good of humanity. I'm a contributor on various open source projects. A technology advocate for Scala in Africa, and I stand to push the envelope of the programing world as far as I can through collaboration, helping, and . <strong>All views expressed here are mine and doesn't in any way represent my company's stance.</strong>
</div>

<div class="container">
  <div class="row">
    <div class=" container tags col-lg-9 col-lg-offset-3">
      <span class="topics">Topics:</span>
      {% for tag in site.data.tags %}
      <a href="/tags/{{ tag.name }}"> {{ tag.name | capitalize}} </a>
      {% endfor %}
    
    </div>
  </div>
</div>

<div class="posts container">
  <h3>Recent Posts: </h3>
  <ul>
    {% for post in site.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-list">
        <li class="row">
          <span class="datelist col-lg-3">{{ post.date | date: "%B %e, %Y" }}</span>
          <span class="col-lg-9 blog-title">{{ post.title }}</span>
            
        </li>
    </a>
    {% endfor %}
  </ul>

</div>