--- 
--- 

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/

/* BASE RULES */

/**************/

html {
  font-size: 20px;
  body {
    background: $mainbg !important;
    font: 20px/1.4 $Crimson;
    color: $textColor;
  }

  .container {
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $Garamond;
    color: $highlight;
    padding: 0;
    // @include mobile {
    //   line-height: 1.4;
    // }
  }

  h1 {
    font-size: 2rem;

    a {
      color: inherit;
    }
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
    color: $gray;
  }

  p {
    margin: 15px 0;
  }

  a {
    color: $highlight;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active {
      color: $highlight;
    }
  }


  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ol ul,
  ul ol,
  ul ul,
  ol ol {
    margin: 0;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
  }

  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  // Fixes images in popup boxes from Google Translate
  .gmnoprint img {
    max-width: none;
  }

  .date {
    font-style: italic;
    color: $highlight;
    font-size: 18px;
  }

  // Specify the color of the selection
  ::-moz-selection {
    color: $black;
    background: $lightGray;
  }

  ::selection {
    color: $black;
    background: $lightGray;
  }

  // Nicolas Gallagher's micro clearfix hack
  // http://nicolasgallagher.com/micro-clearfix-hack/
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  /*********************/

  /* LAYOUT / SECTIONS */

  /*********************/

  .masthead {

    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px 0;

    a {
      color: $textColor;
    }

    @include mobile {
      text-align: center;

    }
  }

  .topics {
    font-size: 20px;
    color: $textColor;
    text-decoration: none;
  }

  .site-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 15px;

    @include mobile {
      float: none;
      display: block;
      margin: 0 auto;
    }

    img {
      border-radius: 5px;
    }
  }

  .site-info {
    nav {
      color: $textColor;
    }

    @include mobile {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  span.tags {
    float: right;
    margin: 0px auto 40px auto;
    text-align: center;

    div {
      margin-bottom: 16px;

      span {
        color: $textColor;
        padding: 5px 15px 5px 15px;
        font-style: italic;
      }
    }

    a {
      // padding: 6px;
      color: $highlight;
      font-size: 14px;
      color: gainsboro;

      &:hover {
        text-decoration: none;
        color: $textColor;
      }
    }
  }

  div.tags {
    margin: 80px auto 50px auto;
    div {
      span {
        color: $textColor;
        padding: 5px 15px 5px 15px;
        font-style: italic;
      }
    }

    a {
      padding: 6px;
      color: #0788ff;
      font-size: 18px;
      font-weight: 300;

      &:after {
        content: ".";
        font-weight: 800;
        color: $textColor;
        margin-left: 3px;
        font-size: 22px;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }

      &:hover {
        text-decoration: none;
        color: $textColor;
      }
    }
  }

  .site-name {
    margin: 0;
    cursor: pointer;
    font-family: $Crimson;
    font-weight: 500;
    font-size: 40px;
    padding: 10px 10px 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
      color: #0788ff;

      &:hover {
        color: $highlight;
        text-decoration: none;
      }
    }
  }

  .site-description {
    margin: -5px 0 0 0;
    color: $textColor;
    font-size: 16px;

    @include mobile {
      margin: 3px 0;
    }
  }

  nav {
    // margin-top: 23px; // @TODO: Vertically middle align
    font-family: $Garamond;
    font-size: 14px;

    @include mobile {
      float: none;
      margin-top: 9px;
      display: block;
      font-size: 14px;
    }

    @include mobile {
      margin: 0 10px;
      color: $textColor;
    }
  }

  .navb {
    margin-top: 35px;

    a {
      font-size: 20px;
      float: right;
      padding: 3px 15px 5px 15px;
      line-height: 10px;
      color: #0788ff;
      font-family: $Crimson;
      border-left: 1px dotted white;

      &:hover {
        color: $textColor;
        text-decoration: none;
      }

      &:last-child {
        border-left: none;
      }
    }
  }


  //
  // .main
  //
  strong.blog-title {
    padding-left: 0px;
    font-weight: bold;
  }

  .posts {
    h3 {
      color: $textColor;
      margin-bottom: 20px;
      font-weight: bolder;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
    }

    padding: 15px 0 15px 0;

    ul {
      a {
        text-decoration: none;

        li {
          font-size: 24px;
          font-family: $Crimson;
          padding: 0.4em 0px 0.4em 0px;
          margin-left: auto;
          margin-right: auto;
          color: white;
          list-style-type: none;
          text-align: justify;
          transition-property: text-indent, background-color;
          transition-duration: 0.5s;
          transition-delay: 0.1s;
          // font-weight: bold;
          margin-top: 2px;
          .blog-title {
            &:hover {
              transition-property: text-indent,
              background-color;
              transition-duration: 0.5s;
              transition-delay: 0.3s;
              color: #fff;
              text-decoration: none;
              text-indent: 20px;
            }
          }
        }

        span.datelist {
          text-align: right;
          color: #0788ff;
          text-align: left;
          font-size: 20px;
          padding-top: 4px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .posts>.post:last-child {
    // padding-bottom: 1em;
    border-bottom: none;
  }

  .short-bio {
    color: white;
    background-color: #343a40;
    background-image: linear-gradient(90deg, #54b30e -1%, #0788ff);
    padding: 20px;
    // box-shadow: 2px 2px 2px #343a40;
    width: 75%;
  }

  .post {
    h1 {
      text-transform: uppercase;
      font-family: $Garamond;
    }
    font-family: $Crimson;
    font-size: 16px;


    blockquote {
      margin: 1.8em 0.8em;
      padding: 0.1em 1em;
      color: $gray;
      font-size: 20px;
      font-style: italic;
    }

    .comments {
      margin-top: 10px;
    }

    .read-more {
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  .outer-footer {
    padding: 0 !important;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  footer {
    text-align: center;
    // margin-bottom: 50px;
    margin-bottom: 20px;
    margin-top: 50px;

    div {
      margin-top: 10px;
      text-align: center;
    }
  }

  .footer-links {
    text-align: right;
    margin-right: 20px;

    .footer-links-text {
      font-size: 30px;
      color: $highlight;
    }

    a {
      font-weight: 900;
      font-size: 30px;
      text-indent: 10px;
      color: $textColor;

      &:hover {
        color: $highlight;
      }
    }
  }

  .footer-about {
    font-family: $Crimson;
    font-size: 20px;
    color: $highlight;
    text-align: left;
    padding-top:20px;
  }

  .post {
    h1 {
      color: $highlight;
      margin-bottom: 100px;
      margin-top: 120px;
      text-align: center;
      font-size: 30px;
      letter-spacing: 1.2px;
      font-family: $Garamond;
    }

    .entry {
      font-size: 26px;

      ol,ul {
         margin-left: 60px;
      }

      blockquote {
        border-left: 1px solid $highlight;
        p {
          color: $highlight;
        }
      }
      
      h2 {
        color: $highlight;
        margin-top: 40px;
        font-family: $Crimson;
        font-size: 30px;
        margin-bottom: 40px;
      }

      color: $textColor;
    }
  }

  .page {
    color: $textColor;
    margin-top: 80px;

    h1,
    h2,
    h3 {
      color: $highlight;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 30px;
    }

    strong {
      color: $highlight;
    }

    .img_about {
      &:first-child {
        float: left;
        margin-right: 60px;
        height: 200px;
      }
    }

  }

  // Settled on moving the import of syntax highlighting to the bottom of the CSS
  // ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
  @import "highlights";
  @import "svg-icons";

  // Not found
  /* Styles of the 404 page of my website. */

  .code-area {
    span {
      display: block;
    }

    color: #d3d7de;
    font-family: "Courier new";
    font-size: 25px;
    line-height: 1.5em;
    cursor: default;
    width: 320px;
    margin: auto;
  }




  

 

  // Medium devices (tablets, 768px and up)
  @media (max-width: 1200px) {
    font-size: 16px;
    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }
    .site-info {
      .site-name {
        margin: 0;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: .5px;
        padding: 10px 10px 10px 10px;
      }

    }

    .navb {
      text-align: left;
      font-size: 14px;

      a {
        font-size: 1rem;
        padding: 2px 7px 2px 7px;
      }
    }

    .post {
      h3 {
        font-weight: bolder;
      }
    }
  }
   @media (min-width: 768) {
     font-size: 16px;

     .site-info {
       .site-name {
          margin: 0;
          font-weight: 400;
          font-size: 1.2rem;
          letter-spacing: .5px;
          padding: 10px 8px 10px 8px;
       }
     }
     .navb {
      //  text-align: center;
      //  margin: 0 auto 0 auto;
       padding-left: 0;
       a {
         margin: 0 auto 0 auto;
         font-size: .9rem;
         padding: 2px 4px 2px 4px;
       }
     }

     .footer-about {
       text-align: left;
       font-size:16px;
     }

     .footer-links {
       margin-right: 0;
       text-align: right;
       a {
         font-size: 16px;
         i {
           font-size: 16px
         }
       }
     }
   }

   @media screen and (max-width: 576px) {
     font-size: 14px;

     .code-area {
       font-size: 6vw;
       min-width: auto;
       width: 95%;
       margin: auto;
       padding: 5px;
       padding-left: 10px;
       line-height: 6.5vw;
     }

      .site-info {
        .site-name {
          margin: 0;
          font-weight: 400;
          font-size: 1.2rem;
          letter-spacing: .5px;
          padding: 10px 8px 10px 8px;
        }
      }

      .navb {
        //  text-align: center;
        //  margin: 0 auto 0 auto;
        padding-left: 0;

        a {
          margin: 0 auto 0 auto;
          font-size: .9rem;
          padding: 2px 4px 2px 4px;
        }
      }

      .footer-about {
        text-align: center;
        font-size: 18px;
      }

      .footer-links {
        margin-right: 0;
        text-align: center;

        a {
          font-size: 18px;

          i {
            font-size: 18px
          }
        }
      }
   }

  // // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px)
  // {

  // }

}