---
---

//
// IMPORTS
//
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/


/* BASE RULES */


/**************/

html {
    font-size: 100%;
}

body {
    background: $mainbg !important;
    font: 18px/1.4 $Hoefler;
    color: $textColor;
}

.container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Hoefler;
    color: $darkerGray;
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;
    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 30px;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: $gray;
}

p {
    margin: 15px 0;
}

a {
    color: $darkerGray;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active {
        color: $blue;
    }
}

ul,
ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
    margin: 0;
}

ul ul,
ol ul {
    list-style-type: circle;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

.date {
    font-style: italic;
    color: $gray;
}

// Specify the color of the selection
::-moz-selection {
    color: $black;
    background: $lightGray;
}

::selection {
    color: $black;
    background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*********************/


/* LAYOUT / SECTIONS */


/*********************/

//
// .masthead
//
.masthead {
    border: 1px ridge #222;
    margin-top: 30px;
    margin-bottom: 90px;
    box-shadow: 5px 5px;
    padding: 20px 0;
    a {
        color: $darkerGray;
    }
    @include mobile {
        text-align: center;
    }
}

.site-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
    img {
        border-radius: 5px;
    }
}

.site-info {
    nav {
        color: $darkerGray;
    }
    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.tags {
    margin: 0px auto 40px auto;
    text-align: center;
    div {
        margin-bottom: 16px;
        span {
            color: white;
            border: 1px ridge #222;
            padding: 5px 15px 5px 15px;
            font-style: italic;
        }
    }
    a {
        padding: 4px;
        color: yellow;
        font-size: 14px;
        border: 1px ridge #222;
        box-shadow: 1px 1px;
        &:hover {
            // text-shadow: 0.5px 0.5px 1px whitesmoke;
            text-decoration: none;
            color: $white;
            // border: 1px dashed sandybrown;
            background: chocolate;
        }
    }
}

.site-name {
    margin: 0;
    cursor: pointer;
    font-family: $Hoefler;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 1px;
    padding: 10px 10px 10px 30px;
    border: 5px ridge #222;
    a {
        color: $white;
        letter-spacing: 2px;
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.site-description {
    margin: -5px 0 0 0;
    color: $gray;
    font-size: 16px;
    @include mobile {
        margin: 3px 0;
    }
}

nav {
    // margin-top: 23px; // @TODO: Vertically middle align
    font-family: $Hoefler;
    font-size: 18px;
    @include mobile {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }
    @include mobile {
        margin: 0 10px;
        color: $blue;
    }
}



.navb a {
    float: right;
    padding: 5px;
    border: .5px ridge #222;
    color: $white;
    font-family: $Hoefler;
    &:hover {
        color: yellow;
        text-decoration: none;
    }
}

//
// .main
//
strong.blog-title {
    padding-left: 0px;
    font-weight: bold;
}

.posts {
    border: 1px ridge #222;
    box-shadow: 5px 5px;
    padding: 15px 30px 15px 30px;
    ul {
        a {
            text-decoration: none;
            li {
                font-size: 20px;
                font-family: $Hoefler;
                padding: 0.8em 0px 0.8em 0px;
                // border-top: 1px solid $darkerGray;
                color: $white;
                list-style-type: none;
                text-align: justify;
                transition-property: text-indent, background-color;
                transition-duration: 0.5s;
                transition-delay: 0.1s;
                // font-weight: bold;
                letter-spacing: 0.5px;
                margin-top: 10px;
                margin-right: 15px;
                &:hover {
                    background: $darkerGray;
                    color: whitesmoke;
                    text-decoration: none;
                    text-indent: 20px;
                    border: 1px dashed brown;
                }
            }
            &:last-child {
                li {
                    // border-bottom: 1px solid $darkerGray;
                }
            }
            span.datelist {
                text-align: right;
                color: yellow;
                background: #2f2626;
                text-align: right;
            }
        }
    }
}

.posts>.post:last-child {
    // padding-bottom: 1em;
    border-bottom: none;
}

.post {
    font-family: $Hoefler;
    font-size: 16px;
    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
    }
    .comments {
        margin-top: 10px;
    }
    .read-more {
        text-transform: uppercase;
        font-size: 15px;
    }
}

.outer-footer {    
    padding: 0 !important;
    margin-bottom: 30px;
    border: 1px ridge #222;
    margin-top: 60px;
    box-shadow: 5px 5px;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    div {
        margin-top: 10px;
        text-align: right;
    }
}

.footer-links {
    border: 1px ridge #222;
    padding: 20px 0;
    text-align: left;
    margin-right: 20px;
    a {
        font-weight: 900;
        font-size: 40px;
        text-indent: 10px;
        color: $white;
        &:hover {
            color: $darkerGray;
        }
    }
}

.footer-about {
    font-family: $Hoefler;
    font-size: 18px;
}

.post {
   h1 {
       color: yellow;
       margin-bottom: 40px;
       text-align: center;
       font-size: 18px;
   }
   .entry {
       h2 {
           color: orange;
           margin-top: 40px;
       }
       color: white;
   }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

