---
---

//
// IMPORTS
//
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/

/* BASE RULES */

/**************/

html {
  font-size: 100%;
}

body {
  background: $mainbg !important;
  font: 18px/1.4 $Hoefler;
  color: $textColor;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Hoefler;
  color: $highlight;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $highlight;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $highlight;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $highlight;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/

/* LAYOUT / SECTIONS */

/*********************/

.masthead {

  margin-top: 30px;
  margin-bottom: 90px;
  padding: 20px 0;
  a {
    color: $textColor;
  }
  @include mobile {
    text-align: center;
  }
}

.topics {
  font-size: 22px;
  color: $textColor;
  font-weight: 900;
  text-decoration: none ;
  line-height: 6em;
  text-shadow: $shadow-highlight;
  letter-spacing: 1px;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
  img {
    border-radius: 5px;
  }
}

.site-info {
  nav {
    color: $textColor;
  }
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

span.tags {
  float: right;
  margin: 0px auto 40px auto;
  text-align: center;
  div {
    margin-bottom: 16px;
    span {
      color: $textColor;
      padding: 5px 15px 5px 15px;
      font-style: italic;
    }
  }
  a {
    // padding: 6px;
    color: $highlight;
    font-size: 14px;
    color: gainsboro;
    &:hover {
      text-decoration: none;
      color: $textColor;
    }
  }
}

div.tags {
  margin: 0px auto 40px auto;
  text-align: center;

  div {
    margin-bottom: 16px;

    span {
      color: $textColor;
      padding: 5px 15px 5px 15px;
      font-style: italic;
    }
  }

  a {
    padding: 6px;
    color: $textColor;
    font-size: 14px;
    color: $textColor;

    &:hover {
      text-decoration: none;
      color: $textColor;
    }
  }
}

.site-name {
  text-shadow: $shadow-highlight;
  margin: 0;
  cursor: pointer;
  font-family: $Hoefler;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  padding: 10px 10px 10px 30px;
  text-transform: uppercase;
  width: 500px;
  a {
    color: $textColor;
    letter-spacing: 2px;
    &:hover {
      color: $highlight;
      text-decoration: none;
    }
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $textColor;
  font-size: 16px;
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  // margin-top: 23px; // @TODO: Vertically middle align
  font-family: $Hoefler;
  font-size: 18px;
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
  @include mobile {
    margin: 0 10px;
    color: $textColor;
  }
}

.navb {
  margin-top: 22px;
   a {
     float: right;
     padding: 2px 8px 2px 8px;
     line-height: 6px;
     color: $highlight;
     font-family: $Hoefler;
     border-left: 1px dotted $highlight;

     &:hover {
       color: $textColor;
     }

     &:last-child {
       border-left: none;
     }
   }
}


//
// .main
//
strong.blog-title {
  padding-left: 0px;
  font-weight: bold;
}

.posts {
  h3 {
    color: $textColor;
    margin-bottom: 20px;
    text-shadow: $shadow-highlight;
  }
  padding: 15px 30px 15px 30px;
  ul {
    a {
      text-decoration: none;
      li {
        font-size: 20px;
        font-family: $Hoefler;
        padding: 0.4em 0px 0.4em 0px;
        color: #c9cacc;
        list-style-type: none;
        text-align: justify;
        transition-property: text-indent, background-color;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        // font-weight: bold;
        letter-spacing: 0.5px;
        margin-top: 1px;
        margin-right: 15px;
        &:hover {
          color: #fff;
          text-decoration: underline;
          text-indent: 20px;
        }
      }
     
      span.datelist {
        text-align: right;
        color: $highlight;
        text-align: right;
        font-size: 18px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.posts > .post:last-child {
  // padding-bottom: 1em;
  border-bottom: none;
}

.post {
  font-family: $Hoefler;
  font-size: 16px;
  blockquote {
    margin: 1.8em 0.8em;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
  .comments {
    margin-top: 10px;
  }
  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.outer-footer {
  padding: 0 !important;
  margin-bottom: 30px;
  margin-top: 60px;
}

footer {
    text-align: center;
    // margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 100px;
  div {
    margin-top: 10px;
    text-align: center;
  }
}

.footer-links {
  text-align: left;
  margin-right: 20px;
  .footer-links-text {
    font-size: 18px;
    color: $highlight;
  }
  a {
    font-weight: 900;
    font-size: 20px;
    text-indent: 10px;
    color: $textColor;
    &:hover {
      color: $highlight;
    }
  }
}

.footer-about {
  font-family: $Hoefler;
  font-size: 18px;
  color: $highlight;
  vertical-align: baseline;
}

.post {
  h1 {
    color: $highlight;
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
  }
  .entry {
    h2 {
      color: $highlight;
      margin-top: 30px;
    }
    color: $textColor;
  }
}

.page {
  color: #0a3a3a;
  h1 {
    color: darken(#3985d0, 10%);
  }
}

.tags {

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// Not found
/* Styles of the 404 page of my website. */

.code-area {
  span {
    display: block;
  }
  color: #d3d7de;
  font-family: "Courier new";
  font-size: 25px;
  line-height: 1.5em;
  cursor: default;
  width: 320px;
  margin: auto;
}

@media screen and (max-width: 320px) {
  .code-area {
    font-size: 6vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;
  }
}
