<div class="footer-links col">
    {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fab fa-linkedin"></i></a>{% endif %}
    {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss-square"></i></a>{% endif %}
    {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
    {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"></a>{% endif %}
    {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fas fa-envelope"></i></a>{% endif %}
    {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fab fa-github-square"></i></a>{% endif %}
    <a href="{{ site.baseurl }}/podcast"><i class="fas fa-podcast"></i></a>
</div>