//
// VARIABLES
//
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro');

@font-face {
    font-family: 'Hoefler';
    src: url('./Hoefler-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Hoefler';
    src: url('./Whitney-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'quicksand bold';
    src: url('../fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'quicksand medium';
    src: url('../fonts/Quicksand/static/Quicksand-Medium.ttf') format('truetype');
}

// Colors
$blue: #06b6ef;
// Grays
// $black: #000;
$black: #FFFFFF;
$highlight: #e5bf44;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$mainbg: #1d1f21;
$foreground: #D8D8D8;
$textColor: #fff;
$Quicksand: quicksand,
"Helvetica Neue",
"San Serif";
// Font stacks
$Quicksand: quicksand,
"Helvetica Neue",
"Sans Serif";

$QuicksandBold: "quicksand bold", Helvetica, "Sans Serif";
$QuicksandMedium: "quicksand medium", Helvetica, "Sans Serif";
// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}

$shadow-highlight: .7px .7px gainsboro;
