---
layout: default
---

<!-- <div class="tags">
    {% for tag in page.tags %}
    <a href="/tags/{{ tag }}/"> {{ tag }} </a> {% endfor %}

</div> -->

<article class="post container">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="row article-footer">
    <div class="date col">
      Written on &nbsp; <i class="far fa-calendar-alt"> </i> {{ page.date | date: "%B %e, %Y" }}
    </div>
    
    <div class="col tagged">
      <span class="bottom-tags">
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}">{{ tag_name }}</nobr>&nbsp;</a>
        {% endfor %}
      </span> 
    </div>
  </div>

</article>
{% include disqus.html %}