---
layout: default
---

<div class="tags">
  <div><span>Tags {% octicon tag %}</span></div>
  {% for tag in site.tags %}
	  <a href="/tags/{{ tag[0] }}/"> {{ tag[0] }} </a>
  {% endfor %}

</div>

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {% octicon calendar %} {{ page.date | date: "%B %e, %Y" }}
  </div>

  <span>
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highlighter-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
  </span>

  {% include disqus.html %}
</article>
